@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

%overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;

    content: "";
    background: linear-gradient(
        180deg, 
        rgba(0, 0, 0, 0.5) 64.54%, 
        rgba(0, 0, 0, 0.5) 82.29%
        );
}

%card-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 30px;

    content: "";
    background: linear-gradient(
        360deg, 
        rgba(0, 0, 0, 0.2) 65.42%, 
        rgba(0, 0, 0, 0.2) 100%
        );
}