@mixin mediaBg() {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	    @content;
    }
}

@mixin tablet () {
    @media (max-width: 1220px) {
		@content;
	}
}

@mixin mobile () {
    @media (max-width: 820px) {
		@content;
	}
}

%overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    
    content: "";
}

%card-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 30px;

    content: "";
    background: linear-gradient(
        360deg, 
        rgba(0, 0, 0, 0.2) 65.42%, 
        rgba(0, 0, 0, 0.2) 100%
        );
}

@mixin color-scheme ($text, $bg) {
    color: $text;
    background-color: $bg;
}

%btn-60 {
    padding-left: 40px;
    padding-right: 40px;

    height: 60px;
    display: inline-block;
    border-radius: 50px;
    
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
}

%btn-40 {
    padding-left: 30px;
    padding-right: 30px;

    height: 40px;
    display: inline-block;
    
    font-weight: 600;
    letter-spacing: 0.05em;
}

%btn-40-narrow {
    padding-left: 20px;
    padding-right: 20px;

    display: inline-block;
    height: 40px;
    border-radius: 50px;

    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

