
.activity-tab__content {
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-between;
    width: 1230px;
    background-color: red;
}

.activity-tab__slider {
    position: relative;
}