.benefit-list {
    display: flex;
    color: #fff;
}

.benefit-list__item {
    width: 231px;
    display: flex;
    align-items: center;
    
    &:not(:first-child) {
        margin-left: 40px;
    }

}

.benefit-list__text {
    margin-left: 15px;

    font-weight: 600;
    font-size: 20px;
}
