.button-solid-m {
    @extend %btn-60;
    @include color-scheme ($scheme-solid...);

    line-height: 60px;
    text-transform: uppercase;
}

.button-solid-s {
    @extend %btn-40;
    @include color-scheme ($scheme-solid...);

    line-height: 40px;
    border-radius: 30px;
    font-size: 16px;
}

.button-solid-xs {
    @extend %btn-40-narrow;
    @include color-scheme ($scheme-solid...);

    line-height: 40px;
}

.button-outline-m {
    @extend %btn-60;
    @include color-scheme ($scheme-outline-accent...);

    border: 2px solid $clr-accent;
    line-height: 58px;
    text-transform: uppercase;

    &--mono {
        border-color: #fff;
        color: #fff;
    }

    &--light {
        color: #fff;
    }
}

.button-outline-s {
    @extend %btn-40;
    @include color-scheme ($scheme-outline-light...);

    border: 2px solid #fff;
    line-height: 38px;
    border-radius: 50px;

    font-size: 14px;
    text-transform: uppercase;

    &--accent {
        border-color: $clr-accent;
        @include color-scheme ($scheme-outline-solid...);
    }
}

.button-outline-xs {
    @extend %btn-40-narrow;
    @include color-scheme($scheme-outline-accent...);

    line-height: 38px;
    border: 2px solid $clr-accent;

    &--light {
        border-color: #fff;
        color: #fff;
    }
}

.slider-arrow {
    position: absolute;
    top: 66px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 50%;

    &__prev {
        left: 0;
        transform: translate(-50%, -50%);

        svg {
            transform: rotate(90deg);
        }
    }

    &__next {
        right: 0;
        transform: translate(50%, -50%);
        
        svg {
            transform: rotate(-90deg);
        }
    }
}

.stars__slider .slider-arrow {
    top: 42%;
    transform: translateY(-50%);
}

.feedbacks__slider .slider-arrow,
.promo__slider .slider-arrow,
.news__slider .slider-arrow,
.emotions__slider .slider-arrow {
    top: 50%;
    transform: translateY(-50%);
}

.activity-tab__slider .slider-arrow {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
}

.pagination {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    &--active {
        background-color: #fff;
    }

    &:not(:first-child) {
        margin-left: 10px;
    }
}

.button-outline {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;

    height: 60px;
    line-height: 60px;
    border: 2px solid var(--accent);
    border-radius: 50px;

    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;

    &--light {
        border-color: #fff;
    }

    &--text-light {
        color: #fff;
    }
}

.button-outline-small {
    padding-left: 20px;
    padding-right: 20px;

    height: 40px;
    display: inline-block;
    border: 2px solid var(--accent);
    border-radius: 50px;
    background-color: transparent;

    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #000;

    &--light {
        border-color: #fff;
        color: #fff;
    }
}

.button-outline-slider {
    padding-left: 30px;
    padding-right: 30px;

    height: 40px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;

    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}