.btn-buy {
    display: inline-block;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;

    border-radius: 30px;
    background-color: var(--btn-solid-bg);

    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--btn-solid-text);
}

.slider__buttons {
 
}

.slider-arrow {
    position: absolute;
    top: 66px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-color: #fff;
    border-radius: 50%;

    position: absolute;

    &__prev {
        left: 0;
        transform: translateX(-50%);
    }

    &__next {
        right: 0;
        transform: translateX(50%);
    }
}

.pagination {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);

    &--active {
        background-color: #fff;
    }

    &:not(:first-child) {
        margin-left: 10px;
    }
}