.card {
    position: relative;

    width: 534px;
    height: 500px;
    border-radius: 30px;

    &::before {
        @extend %card-overlay;
    }
}

.card__img {
    width: 534px;
    height: 500px;

    img {
        width: 100%;
        height: auto;
        border-radius: 30px;
        overflow: hidden;
    }
}

.card__pulse-dot {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card__text {
    width: 474px;

    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    color: #fff;
}

.card__title {
    margin-bottom: 20px;

    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.05em;
}

.card__details {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;

    font-weight: 400;
    font-size: 16px;
    text-transform: lowercase;
    color: #fff;

    li + li {
        margin-left: 20px;
    }
}

.card__buttons {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.button-solid-small {
}
.button-outline-small {
}