.cta-form {
    padding: 50px;

    width: 443px;

    border-radius: 50px;
    background-color: #fff;
}

.cta-form__title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1;
}

.cta-form__group {
    margin-bottom: 20px;
}

.cta-form__input-wrapper:not(:last-child) {
    margin-bottom: 10px;
}

.cta-form__input {
    padding: 20px;

    width: 343px;
    height: 60px;

    border: 2px solid #eee;
    border-radius: 50px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.45);
    }

    &:focus {
        border-color: var(--accent);
    }
} 

.cta-form__textarea-wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.cta-form__textarea {
    padding: 20px;

    width: 343px;
    height: 150px;

    border: 2px solid #eee;
    border-radius: 25px;

    &::placeholder {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.45);
    }

    &:focus {
        border-color: var(--accent);
    }
}

.cta-form__button {
    margin-bottom: 20px;

    & > * {
        width: 100%;
    }
}

.cta-form__user-agreement {
    font-size: 14px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.5);

    a {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.5);
    }
}