.footer-widgets {
    display: flex;
    column-gap: 30px;
    row-gap: 50px;
    flex-wrap: wrap;
}

.footer-widgets__item {
    width: 495px;
    border: 2px solid red;
}

.footer-widgets__title {
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.footer-widgets__phone,
.footer-widgets__email {
    font-size: 32px;
    line-height: 1.4;
    color: #fff;
}

.footer-widgets__socials {
}

.footer-widgets__metro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-widgets__adress {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 1.5;
    color: #fff;
}

.footer-widgets__cta {
    padding-top: 10px;
    text-transform: uppercase;
}

.footer-widgets__form-footer {
    padding-top: 10px;
}

.form-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;

    width: 495px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-footer__input::placeholder {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.45);
}

.button-solid {
}
.button-solid-small {
}