.footer-top {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #070707;
    color: #fff;
}

.footer-top__row {
    display: flex;
    justify-content: space-between;
}

.footer {
}
.footer-top {
}
.container {
}
.footer-top__row {
}
.footer__column {
}
.footer-top__logo {
    margin-bottom: 50px;

    width: 404px;
    height: 100px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.footer-top__nav {
}


