.header {
    position: relative;
    padding-bottom: 149px;
    
    &::after {
        position: absolute;
        z-index: 1;
        content: "";
        bottom: 44px;
        right: 408px;

        width: 2262px;
        height: 2291px;
        
        background-image: url('./../../img/header/anvio-bg.svg');
        background-position: center bottom; // x y
        background-size: contain;
        background-repeat: no-repeat;
        
    }
}

.header__row {
    padding-right: 30px;
    
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: flex-end;
}

.header__text {
    position: absolute;
    z-index: -1;
    top: 160px;
    left: 157px;

    width: 884px;
    height: 662px;

    font-weight: 400;
    font-size: 48px;
    line-height: 1.25;
    
    color: #fff;
}

.header__title {
    margin-bottom: 10px;
}

.header__desc {
    margin-bottom: 70px;
}

.header__benefit-list {
    margin-bottom: 70px;
}

.header__slider {
    display: inline-block;
    position: relative;
}

.header__video {
    margin-top: 67px;
    
    img {
        border-radius: 50%;
        object-fit: cover;
        width: 858px;
        height: 858px;
        // clip-path: inset(0 219px 0 219px);
    }
}

.header__video-link {
    position: relative;

    // &::before {
    //     content: "";

    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);

    //     width: 150px;
    //     height: 150px;
    //     border-radius: 50%;
    //     border: 28px solid red;
    //     background-color: #fff;
    // }
}

.header__pulse-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__placement {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

