// .icons-wrapper {
// 	padding: 30px 0;
// 	display: flex;
// 	column-gap: 30px;
// }

.icon {
	fill: transparent;
	stroke: transparent;
}

.icon--arrow-bottom {
    width: 17px;
    height: 8.5px;
	stroke: #000;
    fill: #000;
}

.icon--baloons, .icon--dancing, .icon--cheers, .icon--star {
    width: 50px;
    height: 50px;
    stroke: #000;
    fill: #000;

    transition: all 0.2s ease-in;
}

.icon--metro {
    width: 29px;
    height: 20px;
    fill: #d92b2c;
}

.metro-circle__line--violet .icon--metro {
    fill: #7f007f;
}

.icon--point {
    width: 70px;
    height: 70px;
    fill: #ce2127;
}

.icon--square, .icon--target {
    width: 60px;
    height: 60px;
    fill: #fff;
}

.reasons-list .icon--square {
    width: 80px;
    height: 80px;
    fill: var(--accent);
}

.icon--play {
    width: 61px;
    height: 61px;
    fill: #000;
}

.slider-emotions .icon--play,
.slider-stars .icon--play {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.icon--slider-arrow {
    width: 10px;
    height: 20px;
    stroke: #000;
}

.slider-arrow__next .icon--slider-arrow {
    transform: rotate(180deg);
}

.slider-offers__item .icon--percent {
    width: 332px;
    height: 334px;
    fill: var(--accent);
}

.slider-offers__item .icon--cheers {
    width: 248px;
    height: 248px;
    fill: var(--accent);
    stroke: transparent;
}

.slider-offers__item .icon--crowd {
    width: 209px;
    height: 196px;
    fill: var(--accent);
}

.icon--gamepad {
    width: 80px;
    height: 80px;
    fill: var(--accent);
}

.icon--three-men {
    width: 80px;
    height: 80px;
    fill: var(--accent);
}

.events-infobox {
    .icon--gamepad, .icon--clock, .icon--pay {
        width: 60px;
        height: 60px;
        fill: var(--accent);
    }
}

.icon--star-rate {
    width: 16px;
    height: 16px;
    fill: #c4c4c4;
}

.icon--action {
    width: 64px;
    height: 64px;
    fill: #fff;
}


.icon--id-card-line {
	fill: rgb(51, 51, 51);
}
.icon--search-line {
	fill: rgb(28, 176, 80);
}

.icon--user-star {
	fill: rgb(26, 134, 235);
}

.icon--user {
	stroke: rgb(26, 134, 235);
	transition: all 0.2s ease-in;

	&:hover {
		stroke: rgb(17, 193, 90);
	}
}
