.nav-footer__item {
    padding-top: 16px; // minus 6px for line-height 2
    padding-bottom: 16px; // minus 6px for line-height 2

    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-top: 2px solid rgba(255, 255, 255, 0.3);

    &:last-child {
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
}

.nav-footer__link {
    padding-left: 5px;

    display: block;
    border-radius: 5px;
    line-height: 2;
    color: #fff;

    transition: all 0.2s ease-in;

    &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 5px;
    }
}

.nav-footer__sub-nav {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    li {
        padding-top: 14px; // minus 6px for line-height 2
    }

    a {
        padding-left: 5px;

        display: block;
        border-radius: 5px;

        line-height: 2;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
        
        transition: all 0.2s ease-in;

        &:hover {
            color: #000;
            background-color: rgba(255, 255, 255, 0.9);
        }
    }

}