.nav-user {
    display: flex;
    column-gap: 40px;

    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.nav-user__phone {
}
.nav-user__city {
}
.arrow-dropdown {
}
.btn-login {
}
.btn-lang {
}