.header__nav {
    background-color: rgba(255, 255, 255, 0.9);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
	display: flex;
    align-items: center;
	column-gap: 26px;

    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.nav-list__item {
    position: relative;
}

.nav-list__link {
    transition: color 0.2s ease-in;

    &:hover {
        color: var(--text-accent);
    }
    
}

.nav-list__sub-nav {
    padding: 30px;

    width: 736px;
    height: 265px;
    border-radius: 0 30px 30px 30px;
    
    position: absolute;
    top: 100%;

    pointer-events: none;
    opacity: 0;
    background-color: #fff;

    transition: all 0.2s ease-in;

    &--less {
        width: 407px;
        height: 350px;
    }
}

.nav-list__item:hover .nav-list__sub-nav {
    pointer-events: all;
    opacity: 1;
}

