.nav-footer {
}

.nav-footer__item {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border-top: 2px solid rgba(255, 255, 255, 0.3);

    &:last-child {
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
}

.nav-footer__link {
    color: #fff;
}

.nav-footer__sub-nav {
    li {
        padding-top: 20px;
    }

    a {
        color: rgba(255, 255, 255, 0.5);
    }
}