.news {
    padding-top: 37px;
    padding-bottom: 213px;
}

.news__row {
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
}

.news__slider {
    margin-bottom: 50px;

    position: relative;
}

