.feedbacks {
    height: 702px;
    padding-top: 28px;
    padding-bottom: 60px;
    background-color: red;
}

.feedbacks__header {
    margin-bottom: 50px;
}

.feedbacks__slider {
    position: relative;
    // top: -40px;
}