.stars {
    padding-top: 94px;
    padding-bottom: 18px;
}

.stars__header {
    
}

.stars__row {
    display: flex;
    justify-content: space-between;
}

.stars__slider {
    margin-top: 50px;
    position: relative;
}