.network {
    padding-top: 105px;
    padding-bottom: 70px;
}

.network__block {
    margin-left: auto;
    margin-right: auto;
    width: 1569px;
}

.network__logo {
    width: 1569px;
    height: 386px;

    img {
        width: 100%;
    }
}

.network__row {
    display: flex;
}
.network__stat {
}

.network__value {
}

.network__text {
}

.network__header {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.5;
}

.h2 {

}
.network__desc {
}