.emotions {
    padding-top: 131px;
    padding-bottom: 99px;
}

.emotions__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.emotions__slider {
    margin-top: 30px;
    position: relative;
}

