.reasons {
    padding-top: 187px;
    padding-bottom: 110px;

    background-image: url('./../../img/benefits/scheme.svg');
    background-size: fill;
    background-position: top -161px right; // x y
    background-repeat: no-repeat;
}

.reasons__header {
    margin-bottom: 75px;
    width: 1060px;
}

.reasons-list {
    width: 700px;
}

.reasons-list__item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 50px;
    }
}

.reasons-list__img {
    flex-shrink: 0;
}

.reasons-list__desc {
    margin-left: 30px;
}

.reasons-list__title {
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 32px;
    line-height: 1;
}

.reasons-list__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.icon--square {
}
.icon--three-men {
}