.news {
    padding-top: 37px;
    padding-bottom: 70px;
}

.news__row {
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
}

.news__header {
}

.news__slider {
    position: relative;
}

