.swiper.slider-form-order {
}

.slider-form-order {
    width: 815px;
    height: 200px;
}

.slider-form-order .swiper-wrapper {
    justify-content: flex-end;
}

.swiper-slide {
}

.swiper-slide.slider-form-order__item {
    width: 200px;
    height: 200px;
}
