.slider-offers {
    width: 500px;
    height: 232px;
    color: #fff;
}

.slider-offers {
    height: unset;
}

.slider-offers .slider-offers__pagination {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.swiper-slide.slider-offers__item {
    overflow: hidden;
    position: relative;

    padding: 30px 50px;
    width: 500px;
    height: 200px;
    border-radius: 30px;

    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.3);

    svg {
        position: absolute;
        z-index: -1;
    }

    .icon--percent-surround {
        top: -10px;
        right: -95px;
    }

    .icon--cheers {
        top: 30px;
        right: -45px;
    }

    .icon--crowd {
        top: 20px;
        right: -20px;
    }
}

.swiper-slide.slider-offers__item--wide {
    flex-grow: 1;
    width: 600px;
}

.slider-offers__title {
    margin-bottom: 20px;
    width: 310px;

    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #fff;
    text-transform: uppercase;

    span {
        font-weight: 600;
    }
}
