.slider-feedbacks {
    position: relative;
    top: -40px;
    height: 502px;
    background-color: green;
}

.slider-feedbacks__item {
    padding: 50px;

    width: 443px;
    height: 321px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
}

.slider-feedbacks__item:hover {
    width: 443px;
    height: 502px;

    .slider-feedbacks__text {
        height: 341px;
    }

    .text-fade {
        background-image: none;

        background-clip: unset;
    
        p {
            display: -webkit-box;
            -webkit-line-clamp: 14;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #000;
        }
    }
}

.slider-feedbacks__text {
    height: 160px;
    width: 343px;
    font-size: 16px;
    line-height: 1.5;
    overflow: clip;
}

.slider-feedbacks__header {
    margin-bottom: 10px;

    display: flex;
}

.slider-feedbacks__img {
    margin-right: 9px;
    
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }
}

.slider-feedbacks__hero {
    margin-right: 7px;
}

.slider-feedbacks__name {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}

.slider-feedbacks__meta {
    display: flex;
}

.slider-feedbacks__rate {
    margin-right: 20px;

    display: flex;
    column-gap: 5px;
}

.slider-feedbacks__date {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.slider-feedbacks__logo {
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }
}
