.slider-emotions {
    margin-left: unset;
    width: 1860px;
    height: 460px;
}

.slider-emotions__item {
    position: relative;
}


.slider-emotions__list {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    --width-medium: 285px;
    --height-medium: var(--width-medium);
    --margin-medium: calc(var(--width-medium) - 34px);

    --width-top: calc(var(--width-medium) - 74px);
    --height-top: var(--width-top);

    --width-bottom: calc(var(--width-medium) - 76px);
    --height-bottom: var(--width-bottom);
}

.slider-emotions__figure {
    position: relative;

    img {
        border-radius: 300px;
        overflow: hidden;
        object-fit: cover;
    }
}

.slider-emotions__list--top {
    height: var(--height-top);
    top: 0;

    img {
        height: var(--height-top);
        width: var(--width-top);
    }

    .slider-emotions__figure {
        margin-left: var(--width-medium);
        width: calc(var(--margin-medium));
    }
}

.slider-emotions__list--bottom {
    align-items: flex-end;
    height: var(--height-bottom);
    bottom: 0;

    img {
        height: var(--height-bottom);
        width: var(--width-bottom);
    }
    
    .slider-emotions__figure {
        margin-left: var(--width-medium);
        padding-left: 42px;
        width: calc(var(--margin-medium));
    }
}

.slider-emotions__list--middle {
    height: var(--height-medium);
    top: 50%;
    transform: translateY(-50%);

    li:not(:first-child) {
        margin-left: var(--margin-medium);
    }

    .slider-emotions__figure {
        width: var(--width-medium);
        height: var( --height-medium);
    }

    img {
        width: var(--width-medium);
        height: var( --height-medium);
    }
}

.slider-emotions__pulse-dot {
    z-index: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;
}