.slider-feedbacks {
    position: relative;
    top: -40px;
    height: 502px;
    background-color: green;
}

.slider-feedbacks__item {
    padding: 50px;

    width: 443px;
    height: 502px;

    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.15);
}

.slider-feedbacks__header {
    margin-bottom: 10px;

    display: flex;
}

.slider-feedbacks__text {
    font-size: 16px;
    line-height: 1.5;
}

.slider-feedbacks__img {
    margin-right: 9px;
    
    background-color: red;
    width: 50px;
    height: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }
}

.slider__hero {
    background-color: yellow;
}
.slider-feedbacks__name {
}
.slider-feedbacks__meta {
}
.slider-feedbacks__rate {
}
.slider-feedbacks__date {
}

.slider-feedbacks__logo {
    width: 51px;
    height: 51px;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
    }
}

.icon {
}
.icon--yandex {
}
