.sub-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.sub-nav__item {
    width: 222px;
    height: 100px;
}

.sub-nav__link {
    position: relative;
    
    img {
        border-radius: 10px;
    }

    &::before {
        @extend %overlay;
    }

    &:hover::before {
        opacity: 0.2;
    }
}

.sub-nav__text {
    padding: 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%;

    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color-light);
}
