.events-tab__nav {
    margin-bottom: 30px;

    display: flex;
}

.events-tab__btn {
    position: relative;

    display: inline-block;
    padding: 20px 30px;

    width: 461px;
    border: 5px solid #fff;
    border-radius: 20px;
    background-color: #eee;

    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: var(--text-accent);

    &:not(:first-child) {
        margin-left: 5px;
    }

    &:hover, &:active {
        background-color: #fff;
        color: #000;
    }

    &:hover::after {
        display: block;
    }

    &::after {
        display: none;

        width: 0;
        height: 0;
        background-color: transparent;
        content: "";

        border: 30px solid #fff;
        border-color: #fff transparent transparent transparent;

        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translate(-50%, 100%);
        
    }
}

.events-tab-block {
    padding: 0 99px 102px;
    border-radius: 50px;
    background-color: #fff;
}

.events-tab-block__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

.events-tab-block__row + .events-tab-block__row {
    margin-top: 20px;
}

.events-tab-block__schema {
    position: relative;
    height: 577px;
    width: 63.47%;

    &::before {
        content: "";
        position: absolute;
        top: -56px;
        left: 0;

        width: 1060px;
        height: 720px;

        background-image: url('./../../img/events/schema-arena.png');
        background-position: center top; // x y
        background-size: cover;
        background-repeat: no-repeat;

        @media(min-resolution: 2dppx) {
            background-image: url('./../../img/events/schema-arena@2x.png');
        }
    }
}

.events-tab-block__text {
    width: 540px;
}

.events-tab-block__header {
    margin-bottom: 30px;
}

.events-tab-block__infobox {
    margin-bottom: 30px;
}

.events-tab-block__desc {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}

.events-tab-block__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}