.events-tab-block__row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-wrap: wrap;
}

.events-tab-block__row + .events-tab-block__row {
    margin-top: 20px;
}

.events-tab-block__schema {
    position: relative;
    height: 577px;
    width: 63.47%;

    &::before {
        content: "";
        position: absolute;
        top: -56px;
        left: 0;

        width: 1060px;
        height: 720px;

        background-image: url('./../../img/events/schema-arena.png');
        background-position: center top; // x y
        background-size: cover;
        background-repeat: no-repeat;

        @media(min-resolution: 2dppx) {
            background-image: url('./../../img/events/schema-arena@2x.png');
        }
    }
}

.events-tab-block__text {
    width: 540px;
}

.events-tab-block__header {
    margin-bottom: 30px;
}

.events-tab-block__infobox {
    margin-bottom: 30px;
}

.events-tab-block__desc {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
}

.events-tab-block__buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}